#!/usr/bin/env python

PACKAGE = "robotiq_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("max_speed", double_t, 0, "Maximum gripper speed in m/s", 0.1, 0.03, 0.25)
gen.add("max_force", double_t, 0, "Maximum gripper force in N", 20.0, 0.0, 250.0)

exit(gen.generate(PACKAGE, "robotiq_control", "Gripper")) 
